*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "G ilroy";
}
html,body{
    width:100%;
    height:100%;
}
#main{

    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background-color: rgb(155,184,155);
}
#panel{
    overflow: hidden;
    width:80%;
    background-color: #fff;
    height:80%;
    border-radius: 10px;
}
.elem{
    gap:20px;
    display: flex;

}
#ptop{
    color:#fff;
    padding:0px 30%;
    align-items: center;
    height:100px;
    width:100%;
    background-color: rgba(72,104,72);
    display: flex;
    justify-content: space-around;
}
.box{
    color:rgb(18,119,57);
    font-size:20px;
    font-weight: 600;
    padding:10px 20px;
    background-color: #fff;
    border-radius: 5px;
}
#pbtm{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    width: 100%;
    height:calc(100% - 100px);
    background-color: white;
}
.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background-color: rgb(72,104,72);
    color:#fff;
    border-radius: 50%;
}
.bubble:hover{
    cursor: pointer;
    background-color:rgb(155,184,155);
}